body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f8f7fa;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 1.6rem; 
}

header {
  background-color: #a16aa8;
  color: #fff;
  text-align: center;
  padding: 2.5em 0; 
}

header h1 {
  margin: 0;
  font-size: 3rem; 
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem; 
  padding: 3rem;
}

section {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2em; 
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
  width: 70%;
}

section h2 {
  color: #c44972bb;
  margin-top: 0;
  margin-bottom: 1rem; 
  font-size: 2.2rem;
}

article {
  background-color: #f7e8ed;
  padding: 1.5em; 
  border-radius: 0.8rem; 
  margin-top: 1.5rem;
}

article h3 {
  margin-top: 0;
  color: #c44972bb;
  font-size: 1.8rem;
}

aside {
  background-color: #ffeeb5af;
  width: 70%;
  padding: 2em; 
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
}

aside h2 {
  color: #9b6c57;
  font-size: 2rem;
}

footer {
  background-color: #7c6aa8;
  color: white;
  text-align: center;
  padding: 1.5em 0; 
  margin-top: 2.5rem; 
  font-size: 1.4rem;
}
